<h1>Neighborhood Bulletin</h1>

<a href="/new_post">Create new post</a>

<table border="1">
  <tr>
    <th>Post</th>
    <th>Creator</th>
    <th></th>
  </tr>
  <% @list_of_posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.user.username%></td>
      <td>
        <a href="/posts/<%= post.id%>">Show Details</a>
      </td>
    </tr>
  <% end  %>
</table>
